body{
    background-color: crimson(218, 218, 157);
    font-family: "Baskervville SC", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;     
}

button{
    background-color: hotpink;
    font-family: "Baskervville SC", system-ui;
}

.passo{
    display: none;
}

.paaso.ativo{
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
}
img{
    max-width: 80%;
}